<div class="container">
  <div class="row">
    <h2 class="text-center"> <strong><%= @user.first_name %></strong> <strong><%= @user.last_name %></strong> <%= link_to "edit your profile", edit_profile_path, class: "btn btn-info"%> </h2>
    <div class="col-md-6 col-md-offset-5 padded">
    <% if current_user.photo? %>
      <%= cl_image_tag current_user.photo.path , width: 150, height: 150 , class: "avatar-monster" %>
    <% else %>
     <%= facebook_avatar_big %>
    <% end %>
    </div>
  </div>
  <div class="row">
      <div class="col-md-8 col-md-offset-5 ">
        <h3><strong> téléphone : <%= @user.phone_number %> </strong> </h3>
         <h3><strong> email : <%= @user.email %> </strong> </h3>
      </div>
    </div>
    <hr>
  </div>



