<div class="container">
  <div class= "row">
    <div class= "col-md-6 col-md-offset-3">
      <h1> Mes demandes </h1>
    </div>
  </div>
  <% @bookings.each do |booking| %>
  <%= link_to booking_path(booking), class: "link-inactif" do %>
    <div class="product">
      <img src="http://lorempixel.com/80/80" class="product-image" alt="">
      <div class='product-body'>
          <h3><%= booking.bike.title %> </h3>
        <p> <%= booking.bike.detail[0...100]%></p>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
           <li> Début de location : <%= booking.start_date %></li>
          </li> Fin de location : <%= booking.end_date %> </li>
        </ul>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <% if booking.status == "waiting" %>
          <i class="fa fa-spinner" aria-hidden="true"> Votre demande est en attente </i>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
</div>
