
<div class="container text-center">
  <h1> Mes offres </h1>
  <hr>
  <% @bookings.each do |booking| %>
  <div class="flex-container">
    <!-- div correspondant au profil-->
    <div class="profile-locataire flex-item">
      <div class="request-title-pink">
        <h3>Demande envoyée par <%= booking.user.first_name %> <%= booking.user.last_name %></h3>
      </div>
      <div class="request-user-avatar">
        <% if booking.user.photo? %>
          <%= cl_image_tag booking.user.photo.path , width: 80, height: 80, class: "img-circle"  %>
        <% else %>
          <%= image_tag "http://placehold.it/80x80" , class: "img-circle" %>
        <% end %>
      </div>
      <div class="request-user-name">
        <i class="fa fa-id-card-o" aria-hidden="true"></i> <%= + " " + booking.user.first_name + " " %> <%= booking.user.last_name %>
      </div>
      <br>
      <div class="request-user-phone">
        <i class="fa fa-phone" aria-hidden="true"></i> <%= booking.user.phone_number %>
      </div>
      <i class="fa fa-calendar calendar-request" aria-hidden="true"></i>
      <div class="request-date-card">
        <ul>
          <li style="list-style: none">  Du  : <%= booking.start_date %></li>
          <li style="list-style: none">  Au:  : <%= booking.end_date%></li>
        </ul>
      </div>
    </div>

    <div class="card-img-request flex-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.bike.photos.first.path %>);">
      <div class="request-title-green">
        <h3>Annonce concernée</h3>
      </div>
        <div class="card-city-request"><%= booking.bike.city %></div>
        <div class="card-title-request">
          <h2 class="bike-title text-center"><%= booking.bike.title %></h2>
        </div>
        <%= link_to "", bike_path(booking.bike), class: "card-link"%>
    </div>


     <div class="request-content-right flex-item">
        <div class="choice">
          <% if booking.status == "waiting" %>
            <div class="product-controls-accept">
              <%= link_to accept_request_path(booking), method: :patch, id: "accept" ,remote: true do %>
                <i class="fa fa-check  fa-2x logo-check-request" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="product-controls-refuse">
              <%= link_to refuse_request_path(booking), method: :patch , id: "refuse", remote: true do %>
                <i class="fa fa-times fa-2x logo-times-request" aria-hidden="true"></i>
              <%end%>
            </div>
        </div>
        <div class= "result">
          <% elsif booking.status == "refuse" %>
            <i class="fa fa-times fa-2x logo-times-request" aria-hidden="true"></i>
          <% elsif booking.status == "accepte" %>
            <i class="fa fa-check fa-2x logo-check-request" aria-hidden="true"></i>
          <%end%>
          <div class= "accept hidden">
            <i class="fa fa-check fa-2x" aria-hidden="true"></i>
          </div>
          <div class= "refuse hidden">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          </div>
        </div>
    </div>

    </div>
    <hr>
  <% end %>

</div>


