<div class="container">
  <div class="wrapper_for_user_form col-xs-10 col-xs-offset-1">

    <h1>Votre offre</h1>

    <div class="form_content ">
      <%= simple_form_for ([:owner, @bike]) do |f| %>
        <div class="form-goup">
          <%= f.input :city, label: "Dans quelle ville peut on louer votre vélo? ", label_html: { class: 'label-bike-tag' } %>

          <%= f.input :title, label:"Titre de votre offre",  require: true, autofocus: true, label_html: { class: 'label-bike-tag'} %>
          <%= f.input :detail, label: "Description",require: true, autofocus: true, label_html: { class: 'label-bike-tag' } %>
          <%= f.input :brand, label: "Marque", autofocus: true, label_html: { class: 'label-bike-tag' } %>

          <div class="form-inline">
            <%= f.input :kind, label: "Type", collection: ['VTT', 'VTC', 'Hollandais', 'Course', 'Cyclocross', 'Triporteur', 'Tandem'],prompt: "Selectionnez votre style", require: true, autofocus: true, label_html: { class: 'label-bike-tag' }%>
            <%= f.input :electric,label: "velo electrique", as: :boolean, label: false, inline_label: true, label_html: { class: 'label-bike-tag' }%>
             <%= f.input :autonomy,label: "Autonomie", autofocus: true, label_html: { class: 'label-bike-tag' }%>
          </div>



          <div class="post-form-inline">
          <%= f.input :price, label: "Quel est votre prix journalier pour prêter votre vélo ?", require: true, autofocus: true, label_html: { class: 'label-bike-tag' } %>
          </div>

          <%= f.input :photos, label: "Ajoutez vos photos", as: :attachinary, require: true, label_html: { class: 'label-bike-tag' } %>
          <div class="row">
            <div class="col-md-4 col-md-offset-5">
              <%= f.button :submit, "Rent my bike", class: "btn btn-large btn-danger btn_main_cta" %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>





