<div class="form-bike-index form-group">
  <%= form_tag(bikes_path, method: :get, :class => 'form-inline') do %>
    <%= label_tag(:city, "City:") %>
    <%= text_field_tag(:city, @city_search, class: 'form-control bike-city-form') %>
    <%= label_tag(:kind, "Kind:") %>
    <%= select_tag(:kind, options_for_select(['', 'VTT', 'VTC'], @kind_search), class: "form-control bike-kind-form") %>
    <%= label_tag(:electric, "Electric Bikes") %>
    <%= check_box_tag(:electric, 1, @electric_search, class: "form-check-input") %>
    <%= submit_tag("Search", class: "btn btn-large btn-success btn-bike-form") %>
  <% end %>
</div>

<hr>

<h3>Résults for your request :</h3>

  <div class="bikes-container">
    <div class="content_left bikes-list">


      <div class="row">
      <% @bikes.each do |bike|%>
        <div class="col-xs-12 col-md-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempicsum.com/futurama/450/200/1');">
            <div class="card-city"><%= bike.city %></div>
            <div class="card-description">
            <h2 class="bike-title"><%= bike.title %></h2>
            <p><%= bike.detail %></p>
            </div>
            <% user = @users.find(bike.user_id) %>
            <% if user.photo %>
              <%= cl_image_tag user.photo.path %>
              <%= link_to "", bike_path(bike), class: "card-link"%>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="content-right bikes-map">

    </div>
  </div>


