<div class="container text-center">
  <div class= "bike-img">

  </div>
  <%= image_tag("http://lorempicsum.com/futurama/450/200/1") %>

  <h2 class="bike-title"><%= @bike.title %></h2><hr>
  <img class="card-user avatar" src="user.jpg">
  <div>
    <h3>A propos de ce vélo :</h3>
    <% if @bike.electric == true %>
      <i class="fa fa-bicycle show-bikes-logo bike-logo" aria-hidden="true"></i>
      <i class="fa fa-plus show-bikes-logo plus-logo" aria-hidden="true"></i>
      <i class="fa fa-plug show-bikes-logo plug-logo" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-bicycle show-bikes-logo plug-logo" aria-hidden="true"></i>
    <% end %>
    <div class="bike-detail">
      <%= @bike.detail %>
    </div>
  </div>

  <% if @user.bikes %>
    <div><hr>
      <%= link_to "Edit your post", class: "btn btn-success btn-large btn-show-bike" %>
      <%= link_to "Delete your post", class: "btn btn-danger btn-large btn-show-bike" %>
    </div>
  <% else %>
    <div><hr>
      <%= link_to "Book the bike", new_bike_booking_path(@bike), class: "btn btn-success btn-large btn-show-bike" %>
    </div>
  <% end %>
</div>


