<% if @bike.photos? == true %>
  <div class= "wrapper-bike-img" style="background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @bike.photos.first.path %>);">
  <h2 class="text-center"><%= @bike.title %></h2>
</div>
<% else %>
<div class= "wrapper-bike-img" style="background-color:#ccc;">
  <h2 class="text-center"><%= @bike.title %></h2>
</div>
<% end %>


<hr>

<div class="container text-center">

  <div class="show-bike-avatar">
  <% if @bike.user.photo? %>
  <%= cl_image_tag @bike.user.photo.path %>
  <% end %>
  </div>
  <div>
    <h3>A propos de ce vélo :</h3>
    <% if @bike.electric == true %>
      <i class="fa fa-bicycle show-bikes-logo bike-logo" aria-hidden="true"></i>
      <i class="fa fa-plus show-bikes-logo plus-logo" aria-hidden="true"></i>
      <i class="fa fa-plug show-bikes-logo plug-logo" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-bicycle show-bikes-logo" aria-hidden="true"></i>
    <% end %>
    <div class="bike-detail">
      <%= @bike.detail %>
    </div>
  </div>

  <% if user_signed_in? && @check == true && @bike.user != @user  %>
    <div><hr>
      <%= link_to "Book the bike", new_bike_booking_path(@bike), class: "btn btn-success btn-large btn-show-bike" %>
    </div>
    <% elsif user_signed_in? && @check == false %>
      <div><hr>
        <%= link_to "Vous avez déjà booké ce velo", bookings_path, class: "btn btn-success btn-large btn-show-bike" %>
      </div>
    <% elsif user_signed_in? == false %>
      <div><hr>
        <%= link_to "Connectez vous pour booker votre premier vélo ", new_user_session_path,class: "btn btn-success btn-large btn-show-bike" %>
      </div>
    <% else %>
     <p> <strong> Nous faisons le maximum pour louer votre vélo  </strong> </p>
     <%= link_to "Retour", bookings_path, class: "btn btn-success btn-large " %>
  <% end %>
